<?xml version="1.0" encoding="UTF-8"?>
 
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-2.5.xsd"
	default-autowire="byName" default-lazy-init="true">
	 
    <!-- <import resource="classpath:quartz.xml" /> -->
    <!-- <import resource="classpath:spring-mongodb.xml" /> -->
    <import resource="classpath:spring-*.xml" />
	
	<!-- dataSource config -->
	<bean id ="dataSource" class ="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/htp?useUnicode=true&amp;characterEncoding=UTF-8" /> 
		<property name="username" value="root" /> 
		<property name="password" value="123"/> 
	</bean> 
	
	<!-- SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>		
	</bean>
	
	<!-- TransactionManager  不过这里暂时没注入-->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory"/>
		</property>
	</bean>	
	
	<!-- DaoUtil Begin-->
	<bean id="dao_util" class="com.bjtu.util.dao.DaoUtil">
	    <property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="file_dao_util" class="com.bjtu.util.mongodb.FileDaoUtil"></bean>
	<bean id="share_dao_util" class="com.bjtu.util.mongodb.ShareDaoUtil"></bean>
	<!-- DaoUtil End-->
	
	<!-- DAO Begin -->	
	<bean id="user_dao" class="com.bjtu.dao.daoimp.UserDaoImp">		
		<property name="dao_util">
			<ref bean="dao_util"/>
		</property>
	</bean>
	<bean id="file_type_dao" class="com.bjtu.dao.daoimp.FileTypeDaoImp">		
		<property name="dao_util">
			<ref bean="dao_util"/>
		</property>
	</bean>
	<bean id="file_dao" class="com.bjtu.dao.daoimp.FileDaoImp">
		<property name="file_dao_util">
			<ref bean="file_dao_util"/>
		</property>
	</bean>
	<bean id="group_dao" class="com.bjtu.dao.daoimp.GroupDaoImp">		
		<property name="dao_util">
			<ref bean="dao_util"/>
		</property>
	</bean>
	<bean id="member_dao" class="com.bjtu.dao.daoimp.MemberDaoImp">		
		<property name="dao_util">
			<ref bean="dao_util"/>
		</property>
	</bean>
	<bean id="share_dao" class="com.bjtu.dao.daoimp.ShareDaoImp">
		<property name="share_dao_util">
			<ref bean="share_dao_util"/>
		</property>
	</bean>
    <!-- DAO  End -->

	<!-- Services Begin -->	
	<bean id="login_register_service" class="com.bjtu.service.login_register.LoginRegisterServiceImp">
		<property name="user_dao">
			<ref bean="user_dao"/>
		</property>
	</bean>	
	<bean id="admin_management_service" class="com.bjtu.service.admin_management.AdminManagementServiceImp">
		<property name="user_dao">
			<ref bean="user_dao"/>
		</property>
	</bean>
	<bean id="fileType_management_service" class="com.bjtu.service.fileType_management.FileTypeManagementServiceImp">
		<property name="file_type_dao">
			<ref bean="file_type_dao"/>
		</property>
	</bean>
	<bean id="user_management_service" class="com.bjtu.service.user_management.UserManagementServiceImp">
		<property name="user_dao">
			<ref bean="user_dao"/>
		</property>
	</bean>
	<bean id="file_service" class="com.bjtu.service.file.FileServiceImp">
		<property name="file_dao">
			<ref bean="file_dao"/>
		</property>
		<property name="user_dao">
			<ref bean="user_dao"/>
		</property>
		<property name="share_dao">
			<ref bean="share_dao"/>
		</property>
	</bean>
	<bean id="group_service" class="com.bjtu.service.group.GroupServiceImp">
		<property name="group_dao">
			<ref bean="group_dao"/>
		</property>
		<property name="member_dao">
			<ref bean="member_dao"/>
		</property>
		<property name="user_dao">
			<ref bean="user_dao"/>
		</property>
		<property name="share_dao">
			<ref bean="share_dao"/>
		</property>
	</bean>
	<bean id="share_service" class="com.bjtu.service.share.ShareServiceImp">
		<property name="share_dao">
			<ref bean="share_dao"/>
		</property>
		<property name="file_dao">
			<ref bean="file_dao"/>
		</property>
	</bean>
	<!-- Services End -->
	
	<!--Share Action Begin-->
	<bean scope="prototype" id="CancelMultiAction" class="com.bjtu.ajax.share.CancelMultiAction">
		<property name="share_service">
			<ref bean="share_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="CancelSingleAction" class="com.bjtu.ajax.share.CancelSingleAction">
		<property name="share_service">
			<ref bean="share_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="SharePageAction" class="com.bjtu.ajax.share.SharePageAction">
		<property name="share_service">
			<ref bean="share_service"/>
		</property>
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="ShareIndexAction" class="com.bjtu.action.share.ShareIndexAction">
		<property name="share_service">
			<ref bean="share_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="GroupShareAction" class="com.bjtu.ajax.share.GroupShareAction">
		<property name="share_service">
			<ref bean="share_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="PrivateShareAction" class="com.bjtu.ajax.share.PrivateShareAction">
		<property name="share_service">
			<ref bean="share_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="PublicShareAction" class="com.bjtu.ajax.share.PublicShareAction">
		<property name="share_service">
			<ref bean="share_service"/>
		</property>
	</bean>
	<!--Share Action End-->
	
	<!--Group Action Begin-->
	<bean scope="prototype" id="DeleteGroupShareAction" class="com.bjtu.ajax.group.DeleteGroupShareAction">
		<property name="group_service">
			<ref bean="group_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="GroupSharePageAction" class="com.bjtu.ajax.group.GroupSharePageAction">
		<property name="group_service">
			<ref bean="group_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="GetGroupListByCreatorAction" class="com.bjtu.ajax.group.GetGroupListByCreatorAction">
		<property name="group_service">
			<ref bean="group_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="DeleteMemberAction" class="com.bjtu.ajax.group.DeleteMemberAction">
		<property name="group_service">
			<ref bean="group_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="DeleteGroupAction" class="com.bjtu.ajax.group.DeleteGroupAction">
		<property name="group_service">
			<ref bean="group_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="GetTreeAction" class="com.bjtu.ajax.group.GetTreeAction">
		<property name="group_service">
			<ref bean="group_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="AddMemberAction" class="com.bjtu.ajax.group.AddMemberAction">
		<property name="group_service">
			<ref bean="group_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="GetGroupListAction" class="com.bjtu.ajax.group.GetGroupListAction">
		<property name="group_service">
			<ref bean="group_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="AddGroupAction" class="com.bjtu.ajax.group.AddGroupAction">
		<property name="group_service">
			<ref bean="group_service"/>
		</property>
	</bean>
	<!--Group Action End-->
	
	<!--File Action Begin-->
	<bean scope="prototype" id="TypeFileInListAction" class="com.bjtu.ajax.file.TypeFileInListAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="TypeFileInListIndexAction" class="com.bjtu.action.file.TypeFileInListIndexAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="TypeFileInGalleryAction" class="com.bjtu.ajax.file.TypeFileInGalleryAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="TypeFileInGalleryIndexAction" class="com.bjtu.action.file.TypeFileInGalleryIndexAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="AllFileInListAction" class="com.bjtu.ajax.file.AllFileInListAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="AllFileInListIndexAction" class="com.bjtu.action.file.AllFileInListIndexAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="DownloadAction" class="com.bjtu.action.file.DownloadAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="SaveFileInHDFSAction" class="com.bjtu.ajax.file.SaveFileInHDFSAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="FileUploadAction" class="com.bjtu.ajax.file.FileUploadAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="IfFileCanUploadAction" class="com.bjtu.ajax.file.IfFileCanUploadAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="DeleteListAction" class="com.bjtu.ajax.file.DeleteListAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="DeleteAction" class="com.bjtu.ajax.file.DeleteAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="ModifyFileNameInGalleryAction" class="com.bjtu.ajax.file.ModifyFileNameInGalleryAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="AddFolderAction" class="com.bjtu.ajax.file.AddFolderAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="AllFileInGalleryAction" class="com.bjtu.ajax.file.AllFileInGalleryAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="AllFileInGalleryIndexAction" class="com.bjtu.action.file.AllFileInGalleryIndexAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>
	<!--File Management Action End-->
	
	<!--User Management Action Begin-->
	<bean scope="prototype" id="UserInfoAction" class="com.bjtu.action.user_management.UserInfoAction">
	</bean>
	<bean scope="prototype" id="ModifyNicknameAction" class="com.bjtu.ajax.user_management.ModifyNicknameAction">
		<property name="user_management_service">
			<ref bean="user_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="ModifyPasswordAction" class="com.bjtu.ajax.user_management.ModifyPasswordAction">
		<property name="user_management_service">
			<ref bean="user_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="UserListAction" class="com.bjtu.action.user_management.UserListAction">
		<property name="user_management_service">
			<ref bean="user_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="UserPageAction" class="com.bjtu.ajax.user_management.UserPageAction">
		<property name="user_management_service">
			<ref bean="user_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="ModifyUserStatusAction" class="com.bjtu.ajax.user_management.ModifyUserStatusAction">
		<property name="user_management_service">
			<ref bean="user_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="ValidateTotalStorageAction" class="com.bjtu.ajax.user_management.ValidateTotalStorageAction">
		<property name="user_management_service">
			<ref bean="user_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="ModifyUserTotalStorageAction" class="com.bjtu.ajax.user_management.ModifyUserTotalStorageAction">
		<property name="user_management_service">
			<ref bean="user_management_service"/>
		</property>
	</bean>
	<!--User Management Action End-->
	
	<!--Login Register Action Begin-->
	<bean scope="prototype" id="ValidateEmailAction" class="com.bjtu.ajax.login_register.ValidateEmailAction">
		<property name="login_register_service">
			<ref bean="login_register_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="RegisterAction" class="com.bjtu.action.login_register.RegisterAction">
		<property name="login_register_service">
			<ref bean="login_register_service"/>
		</property>
	</bean>	
	<bean scope="prototype" id="LoginAction" class="com.bjtu.action.login_register.LoginAction">
		<property name="login_register_service">
			<ref bean="login_register_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="LogoutAction" class="com.bjtu.action.login_register.LogoutAction">
	</bean>
	<!--Login Register Action End-->
	
	<!--Admin Management Action Begin-->
	<bean scope="prototype" id="AdminAddAction" class="com.bjtu.ajax.admin_management.AdminAddAction">
		<property name="admin_management_service">
			<ref bean="admin_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="AdminDeleteAction" class="com.bjtu.ajax.admin_management.AdminDeleteAction">
		<property name="admin_management_service">
			<ref bean="admin_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="AdminSearchAction" class="com.bjtu.ajax.admin_management.AdminSearchAction">
		<property name="admin_management_service">
			<ref bean="admin_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="AdminListAction" class="com.bjtu.action.admin_management.AdminListAction">
		<property name="admin_management_service">
			<ref bean="admin_management_service"/>
		</property>
	</bean>	
	<!--Admin Management Action End-->
	
	<!--FileType Management Action Begin-->
	<bean scope="prototype" id="FileTypePageAction" class="com.bjtu.ajax.fileType_management.FileTypePageAction">
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="ValidatePostfixAction" class="com.bjtu.ajax.fileType_management.ValidatePostfixAction">
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="FileTypeAddAction" class="com.bjtu.ajax.fileType_management.FileTypeAddAction">
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="FileTypeDeleteAction" class="com.bjtu.ajax.fileType_management.FileTypeDeleteAction">
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="FileTypeListAction" class="com.bjtu.action.fileType_management.FileTypeListAction">
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>	
	<!--FileType Management Action End-->
	
	<bean scope="prototype" id="TestAction" class="com.bjtu.test.TestAction">
		<property name="login_register_service">
			<ref bean="login_register_service"/>
		</property>
		<property name="admin_management_service">
			<ref bean="admin_management_service"/>
		</property>
		<property name="fileType_management_service">
			<ref bean="fileType_management_service"/>
		</property>
	</bean>
	<bean scope="prototype" id="TestMongoAction" class="com.bjtu.test.TestMongoAction">
		<property name="file_service">
			<ref bean="file_service"/>
		</property>
	</bean>

</beans>