<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="show_sql">false</property>
	
	<mapping resource="com/bjtu/model/pojo/Tb_user.hbm.xml" />
	<mapping resource="com/bjtu/model/pojo/Tb_file_type.hbm.xml" />
	
</session-factory>
</hibernate-configuration>